@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAF6E7;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.parrafos{
    font-size: 17px;
    width: 100%;
}



/* =====     HEADER     ===== */



.header-desktop{
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.logoHeader{
    width: 60%;
    height: max-content;
}



/* ===== NAV BAR ====== */


ul li{
    list-style-type: none;
}

.navBar a{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #3A4004;
    padding: 20px;
}        

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul li .subMenu{
    display: none;
}

.botonHeader{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
}

.rightHeader ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signUp{
    color: #3A4004;
}

.suscribe{
    width: max-content;
    height: max-content;
    padding: 18px;
    background-color: #3A4004;
    color: #FAF6E7;
    border-radius: 11px;
}

/* =====    MAIN SECTION    ====== */



.bestContent{
    padding: 200px 150px;
    margin-bottom: 50px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}

.headingTag1{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: #3A4004;
    width: 535px;
    margin-bottom: 30px;
}   

.description{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 633px;
    height: max-content;
    margin-bottom: 15px;
}

/* =====    Boton CTA main      ===== */

.botonCtaMain{
    width: max-content;
    height: max-content;
    padding: 18px;
    background-color: #3A4004;
    color: #F2E4B9;
    border-radius: 11px;
}

.textBoton{
    width: max-content;
    height: 29px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #F2E4B9;
    text-decoration: none;
}


/* =====    CATEGORIES SECTION    ===== */

.categories{
    height: max-content;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.tituloSection{
    font-size: 40px;
    color: #3A4004;
    margin-bottom: 25px;
    font-weight: 600;
}

.containerFlex{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subTitulos{
    font-size: x-large;
    color: #3A4004;
    margin-bottom: 10px;
    font-weight: 600;
}

.imgCategories{
    width: 350px;
    height: 350px;
    overflow: hidden;
    object-fit: scale-down;
}

.containerImg{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img{
    width: auto;
    height: 100%;
}

.color {
    background-color: #3A4004;
}

/* =====    FOOTER      ===== */

.gridFooter{
    height: 35%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 30% 1fr;
    grid-template-rows: 6fr 1% 10fr 1% 1fr;
    gap: 10px;
    grid-template-areas:
        "textfoot textfoot formfoot"
        "linea1 linea1 linea1"
        "marca nav ."
        "linea2 linea2 linea2"
        "bottomfoot bottomfoot bottomfoot";
    align-items: center;
    justify-items: center;
    margin: 50px 0px;
}

.sepFoot1{
    width: 85%;
    height: 0.5%;
    background-color: rgba(0, 0, 0, 0.026);
    grid-area: linea1;
}

.sepFoot2{
    width: 85%;
    height: 0.5%;
    background-color: rgba(0, 0, 0, 0.026);
    grid-area: linea2;
}

/* ===  TOP FOOTER  === */

.topFooterText h4{
    font-size: 25px;
    font-weight: 700;
}

.topFooterText{
    width: max-content;
    height: max-content;
    grid-area: textfoot;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* FORM STYLES */

.topFooterForm{
    width: 100%;
    height: 80%;
    grid-area: formfoot;
    display: flex;
    align-items: center;
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form .input{
    width: 45%;
    height: 50%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding-inline-start: 15px;
    border-radius: 10px;
    border: 1px solid #3A4004;
}

.form button{
    width: 20%;
    height: 50%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    color: #FAF6E7;
    background-color: #3A4004;
}

/* ===  MID FOOTER  === */

.midFooterMarca .logo{
    width: 140px;
    height: 50px;
}

.midFooterMarca{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    grid-area: marca;
    gap: 30px;
}

.iconsRedes{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.midFooterRedes{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Footer Navbar */

.midFooterNav{
    width: max-content;
    height: 80%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    grid-area: nav;
}

.midFooterNav .titleNav{
    font-weight: 300;
}

.midFooterNav p{
    font-weight: 700;
}

.navItems{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* === BOTTOM FOOTER === */

.bottomFooter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: bottomfoot;
}

.footerCopyright{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footerPolitic{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.footerUbication{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

/* === FIXEO DE BOOTSTRAP (Cambio de estilos) === */

p{
    margin-top: 0%;
    margin-bottom: 0%;
}

/* === HTML CONTACTO === */

.iconInstagram{
    width: 50px;
    height: auto;
}

.gap{
    gap: 2em;
}

.contactRow{
    flex-direction: row;
}

.contactForm{
    flex-direction: column;
}

.form .messageForm{
    height: 150%;
}

.articleForm{
    width: 100%;
    height: 100%;
}

.imgSobreNosotros{
    width: auto;
    height: 80%;
}

/* === HEADER MOBILE === */

@media screen and (min-width: 425px) and (max-width: 768px) {
    .header-desktop {
        display: none;
    }

    .header-mobile--420 {
        display: flex;
        flex-direction: column;
    }

    .header-mobile__top-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    .logoHeader {
        width: 70%;
        height: auto;
    }
    
    .rightHeader {
        font-weight: 400;
        font-size: 10px;
    }

    .suscribe {
        font-size: 15px;
        padding: 13px;
        margin-left: 10px;
    }

    .signUp {
        font-size: 15px;
        padding: 13px;
    }

    .navBar a{
        font-size: 15px;
    }

    .navBar {
        margin: 10px 0px;
    }

    .bestContent {
        width: 100%;
        height: fit-content;
        padding: 80px 50px;
        margin-bottom: 15px;
    }
    .bestContent .headingTag1 {
        width: 100%;
        font-size: 35px;
    }

    .bestContent .description {
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
    }

    .botonCtaMain {
        padding: 13px;
        border-radius: 11px;
    }

    .textBoton {
        font-size: 15px;
    }

    .categories .tituloSection{
        font-size: 25px;
    }

    .categories .subTitulos {
        font-size: 20px;
    }

    .gridFooter {
        grid-template-columns: 100%;
        grid-auto-rows: 1fr;
        grid-template-rows: none;
        grid-template-areas:
        "textfoot"
        "formfoot"
        "marca"
        "nav"
        "bottomfoot";
        gap: 25px;
    }

    .topFooterText h4{
        font-size: 15px
    }

    .topFooterText {
        width: 100%;
        align-items: center;
    }

    .topFooterText .parrafos {
        font-size: 15px;
        width: 80%;
    }

    .topFooterForm {
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }

    .form .input {
        width: fit-content;
    }

    .navItems p{
        font-size: 12px;
    }

    .midFooterNav { 
        gap: 10px;
        height: fit-content;
    }

    .bottomFooter {
        width: 80%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .gridFooter p {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .header-mobile--420 {
        display: none;
    }
}